<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Create new Post</title>
</head>
<body>
    <h1 class="Quora"> Create a new Post</h1>
    <form method="post" action="http://localhost:8080/post">
        <input name="username">
        <br>
        <br>
        <textarea name="content" rows="10" cols="35"></textarea>
        <br>
        <button>Submit</button>
    </form>
</body>
</html>